.content {
    display: flex;
    flex-direction: column;
    gap: 16px;
    border: 2px solid transparent;
    border-radius: 20px;
}

.contentHover {
    border-color: var(--colors-interface-accent);
}

.main {
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-height: 50vh;
    overflow: auto;
}
.main::-webkit-scrollbar {
    width: 8px;
}

.main::-webkit-scrollbar-track {
    background-color: var(--background-element);
    height: 50%;
}

.main::-webkit-scrollbar-thumb {
    background-color: var(--text-inactive-color);
    height: 50%;
}

.bottom {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.sum {
    display: flex;
    align-items: center;
}

.icon,
.icon svg {
    width: 33px;
    height: 33px;
}

@media screen and (max-width: 450px) {
    .bottom {
        flex-direction: column;
    }
    .sum {
        margin: 0 0 24px 0;
    }
}
