.content {
    display: flex;
    justify-content: space-around;
    align-items: self-start;
    gap: 40px;
}

.content > * {
    flex-basis: 600px;
    width: 100%;
}

@media screen and (max-width: 1200px) {
    .content {
        flex-direction: column;
    }
}